@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mapbox-gl/dist/mapbox-gl.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 text-gray-900;
}

